.about-title {
    margin-bottom: 40px;
}

.about-swiper-wrapper {
    position: relative;
}

.about-slide {
    position: relative;
    z-index: 1;
}

.about-overlay {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.63));
    padding: 0 20px 20px 20px;
    color: var(--color-mariner-lightest);
}

.about-picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-swiper-navigation {
    display: flex;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;
}

body .about .swiper-pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    position: static;
    width: auto;
}

body .about .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {
        left: 0;
        transform: translateX(0);
        white-space: nowrap;
    }
}

body .about .swiper-pagination-bullet-active {
    background: var(--color-neutral-darkest);
}

.about-swiper-btns {
    display: flex;
    width: auto;
    gap: 8px;
    margin: 0;
}

.about-swiper-button-next,
.about-swiper-button-prev {
    display: block;
    align-items: center;
    border: 1px solid var(--color-mariner-light);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: var(--color-mariner-lighter);
    cursor: pointer;
}

.about-swiper-button-next:hover,
.about-swiper-button-prev:hover {}

/* styles for tablet devices */
@media only screen and (min-width: 768px) {
    /* body .about .swiper {
        overflow: visible;
    } */

    .about-picture {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-id {
        font-size: 18px;
        padding: 300px 124px 32px 32px;
    }

    .about-overlay {
        padding: 0;
    }

    body .about .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-swiper-button-prev {
        position: absolute;
        left: -32px;
        top: 40%;
        z-index: 10;
    }

    .about-swiper-button-next {
        position: absolute;
        right: -32px;
        top: 40%;
        z-index: 10;
    }
}

/* styles for desktop devices */

@media only screen and (min-width: 1440px) {
    .about-title {
        font-size: 48px;
    }

    .about-id {
        padding: 580px 700px 64px 64px;
    }

    /* img {
        width: 1312px;
        height: 753px;
    } */
}