.hero-section {
  background-image:
      linear-gradient(to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0.4) 40%,
        rgba(62, 54, 38, 0) 70%),
    url(/img/hero-img/hero-mobile-min.jpg);
  min-width: 320px;
  max-width: 375px;
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 auto;
}

.hero-container {
  padding: 0 20px;
  width: 100%;
  margin: 0;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  height: 192px;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  height: 72px;
  margin-bottom: 32px;
}

.hero-btn {
  font-size: 14px;
  width: 171px;
  height: 45px;
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-white);

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);

  background: var(--color-mariner-dark);
  align-items: center;
  justify-content: center;
  display: inline-flex;
  transition: opacity 250ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.5;
  box-shadow:
    inset 0 -1px 1px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
    
}

.hero-btn:active {
  box-shadow: none;
  opacity: 1;
}

.hero-btn:disabled {
  opacity: 0.2;
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral-light);
  color: var(--color-white);
  box-shadow: none;
  cursor: not-allowed;
}

@media only screen and (max-width: 375px) and (min-resolution: 2x) {
  .hero-section {
    background-image:
        linear-gradient(to right,
          rgba(62, 54, 38, 0.74) 0%,
          rgba(62, 54, 38, 0.4) 40%,
          rgba(62, 54, 38, 0) 70%),
      url(/img/hero-img/hero-mobile@2x-min.jpg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-section {
    background-image:
        linear-gradient(to right,
          rgba(62, 54, 38, 0.74) 0%,
          rgba(62, 54, 38, 0.4) 40%,
          rgba(62, 54, 38, 0) 70%),
      url(/img/hero-img/hero-tablet-min.jpg);
    height: 544px;
    max-width: 768px;
  }

  .hero-title {
    width: 622px;
    height: 96px;
  }

  .hero-text {
    width: 512px;
    height: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2x) {
  .hero-section {
    background-image:
        linear-gradient(to right,
          rgba(62, 54, 38, 0.74) 0%,
          rgba(62, 54, 38, 0.4) 40%,
          rgba(62, 54, 38, 0) 70%),
      url(/img/hero-img/hero-tablet@2x-min.jpg);
  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    background-image:
        linear-gradient(to right,
          rgba(62, 54, 38, 0.74) 0%,
          rgba(62, 54, 38, 0.4) 40%,
          rgba(62, 54, 38, 0) 70%),
      url(/img/hero-img/hero-desktop-min.jpg);
    max-width: 1440px;
    height: 900px;
  }

  .hero-container {
    padding: 0 64px;
  }

  .hero-title {
    font-size: 56px;
    width: 622px;
    height: 201px;

  }

  .hero-text {
    width: 512px;
    height: 54px;
    font-size: 18px;
}

.hero-btn {
  width: 189px;
  height: 48px;
}

@media only screen and (min-width: 1440px) and (min-resolution: 2x) {
  .hero-section {
    background-image:
        linear-gradient(to right,
          rgba(62, 54, 38, 0.74) 0%,
          rgba(62, 54, 38, 0.4) 40%,
          rgba(62, 54, 38, 0) 70%),
      url(/img/hero-img/hero-desktop@2x-min.jpg);
  }
}
}